.movie-card {
    width: 364px;
    height: 281px;
    box-shadow: 2px 5px 10px 1px #e8e8e8;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-sizing: border-box;

}

@media screen and (max-width: 960px) {
    .movie-card {
        width: 339px;
        height: 262px;
    }

}

@media screen and (max-width: 568px) {
    .movie-card {
        width: 300px;
        height: 237px;
    }

}

.movie-card__image {
    width: 100%;
    object-fit: cover;
}

.movie-card__content {
    margin: 0;
    display: grid;
    gap: 15px;
    padding: 15px 20px 0 20px;
    grid-template-areas:
        "a c"
        "b c";
    cursor: pointer;
}


@media screen and (max-width: 960px) {
    .movie-card__content {
        padding: 10px 30px 10px 15px;
    }


}

.movie-card__title {
    grid-area: a;
    font-size: 13px;
    font-weight: 500;
    margin: 0;

}

.movie-card__duration {
    grid-area: b;
    font-size: 11px;
    font-weight: 400;
    color: #a0a0a0;
    margin: 0;
}

.movie-card__like {
    grid-area: c;
    background: transparent;
    width: 14px;
    height: 12px;
    background-size: 14px 12px;
    background-image: url('../../images/like-icon.svg');
    justify-self: flex-end;
    background-repeat: no-repeat;
    border: 0;

}

.movie-card__like svg path {
    fill: var(--button-accent);
}

.movie-card__like_active {
    background-image: url('../../images/like-icon_active.svg');
}


.movie-card__delete {
    grid-area: c;
    background: transparent;
    background-image: url('../../images/delete-like.svg');
    width: 14px;
    height: 12px;
    background-size: 14px 12px;
    justify-self: flex-end;
    background-repeat: no-repeat;
    border: 0;
}