@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);


:root {
  --promo-color: rgba(243, 193, 248);

  --text-color: black;
  --text-accent: white;
  --text-grey: #a0a0a0;
  --text-error: #FF4062;

  --button-color: black;
  --button-accent: #2BE080;
  --button-grey: #f9f9f9;
  --font-Inter: 'Inter', Arial, Helvetica, sans-serif;
}

