.movies__more {
    width: 320px;
    line-height: 36px;
    background-color: transparent;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin: 60px 0 0 0;
    font-size: 12px;
    font-weight: 500;

}


@media screen and (max-width: 960px) {
    .movies__more {
        width: 320px;
        margin-top: 80px;
    }

}


@media screen and (max-width: 568px) {
    .movies__more {
        width: 240px;
        font-size: 12px;
        line-height: 30px;
    }

}