.movies__more {
    width: 320px;
    line-height: 36px;
    background-color: transparent;
    border: 1px solid #e8e8e8;
    margin: 70px 0 0 0;
    font-size: 12px;
    font-weight: 500;

}


@media screen and (max-width: 960px) {
    .movies__more {
        width: 100%;
    }

}